NEXT_PUBLIC_SUPABASE_URL=https://wzgubipwfwnttzfkwegf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind6Z3ViaXB3ZndudHR6Zmt3ZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5MDUwODEsImV4cCI6MjA3ODQ4MTA4MX0.4rKpY-F1qaeU5g8fM1kCyPzzX1j2odwM_66FDj3H9No